.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }
  
  .cardWorks {
    min-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
  }
  
  .phone {
    opacity: 0.5;
  }
  
  .Active {
    opacity: 1;
  }
  
  .carousel-indicators {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .indicator-active {
    background-color: red;
  }
  
  .carousel-controls {
    justify-content: space-between;
    position: absolute;
    width: 100%;
    pointer-events: none;
  }
  
  .carousel-controls button {
    pointer-events: all;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
    border-radius: 100%;
  }
  
  .carousel-controls button:hover {
    font-weight: 600;
  }
  